@import "colors";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

$containerWidths: 500px;
$containerPadding: 0 30px;

body {
  background-color: $cream;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#balanceContainer {
  background-color: $soft-red;
  width: $containerWidths;
  margin-top: 15vh;
  border-radius: 15px;
  color: white;
  font-family: "DM Sans";
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $containerPadding;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#balanceText {
  margin: 20px 0 0 0;
}

#balanceAmountText {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0 20px 0;
}

#balanceLogo {
  width: 70px;
  height: 70px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./public/logo.svg");
}

#spendingContainer {
  background-color: white;
  border-radius: 15px;
  margin-top: 25px;
  width: $containerWidths;
  padding: $containerPadding;
  padding-bottom: 30px;
  font-family: "DM Sans";
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#spendingMainText {
  font-size: 27px;
  font-weight: 700;
  color: $dark-brown;
  margin-bottom: 5px;
}

#spendingGraphContainter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.dayText {
  color: $medium-brown;
}

.dayGraphClass {
  width: 50px;
  background-color: $soft-red;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 7px;
}

.hoverCostContainer {
  background-color: $dark-brown;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2px 5px;
  opacity: 0;
}

.hoverCostText {
  line-height: 0;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

#monGraphContainer {
  height: 50px;
}

#tueGraphContainer {
  height: 100px;
}

#wedGraphContainer {
  background-color: $cyan;
  height: 150px;
}

#thuGraphContainer {
  height: 80px;
}

#friGraphContainer {
  height: 60px;
}

#satGraphContainer {
  height: 120px;
}

#sunGraphContainer {
  height: 70px;
}

#spendingHR {
  width: 100%;
  border: 1px solid $cream;
  opacity: 0.5;
  margin: 20px 0;
}

#totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#totalTextContainer {
}

.totalSubTexts {
  color: $medium-brown;
  margin: 0;
}

#totalNumberText {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  color: $dark-brown;
}

#percentageNumberText {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  text-align: end;
}
