@import "colors";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

body {
  background-color: $cream;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#balanceContainer {
  background-color: $soft-red;
  width: 500px;
  margin-top: 20vh;
  border-radius: 10px;
  color: white;
  font-family: "DM Sans";
  font-size: 18px;
}

#balanceAmountText {
  font-size: 30px;
  font-weight: 700;
}
